.lattice-file-wrapper {
    background: $lattice-second-color;
    border-radius: 3px;
    overflow: hidden;
    position: relative;

    .lattice-file-button {
        background: $lattice-main-color;
        color: $lattice-second-color;
        cursor: pointer;
        display: inline-block;
        font-size: 0.7em;
        padding: 0.8em 1.6em;
        width: auto;

        &:hover {
            background: #000;
        }

        &.disabled {
            background: #ccc;
        }
    }

    .lattice-file-name {
        border: none;
        color: #ccc;
        display: inline-block;
        font-size: 0.7em;
        font-style: italic;
        padding-left: 1.6em;
    }

    .lattice-file-icon {
        background: green;
        color: $lattice-second-color;
        display: inline-block;
        height: 0;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        text-align: center;
        transition: opacity .5s ease-out;
        width: 2.6em;

        &.active {
            height: 100%;
            opacity: 1;
        }

        &:after {
            content: "✓";
            font-size: 26px;
            transition: all 1s ease-in 0s;
            vertical-align: middle;
        }
    }

    .lattice-file-icon-image,
    .lattice-file-icon-audio,
    .lattice-file-icon-video {
        border-right: 1px solid #ECECEC;
        display: inline-block;
        height: 100%;
        text-align: center;
        width: 1.6em;
    }

    .lattice-file-icon-audio:after,
    .lattice-file-icon-image:after,
    .lattice-file-icon-video:after {
        color: $lattice-main-color;
        font-size: 1em;
        transition: all 1s ease-in 0s;
        vertical-align: middle;
        font-family: "Material Icons";
    }

    .lattice-file-icon-audio:after {
        content: "\e405";
    }

    .lattice-file-icon-image:after {
        content: "\e3f4";
    }

    .lattice-file-icon-video:after {
        content: "\e41f";
    }
}
