.material-input + label {
    user-select: none;
}

input {
    &:focus {
        outline: none;
    }
}

input[type="text"].material-input,
input[type="email"].material-input,
input[type="password"].material-input {
    background: transparent;
    border: 1px solid rgba(0,0,0,.5);
    border-width: 0 0 1px 0;
    color: #000;
    font-size: 1.4rem;
    font-weight: 300;
    padding: .5rem 0 .3rem 0;
    width: 100%;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 0;
        opacity: .25;
        color: #fff;
    }

    &::-moz-placeholder { /* Firefox 19+ */
        font-size: 0;
        opacity: .25;
        color: #fff;
    }

    &:-ms-input-placeholder { /* IE 10+ */
        font-size: 0;
        opacity: .25;
        color: #fff;
    }

    &:-moz-placeholder { /* Firefox 18- */
        font-size: 0;
        opacity: .25;
        color: #fff;
    }

    & + label {
        display: block;
        transform: translate(0,-2.2rem);
        transform-origin: top left;
        transition: .2s ease transform;
        cursor: text;
        position: relative;

        span {
            color: #000;
            opacity: .55;
            font-size: 1.3rem;
            pointer-events: none;
            font-weight: 300;
        }
    }

    &.dark {
        color: #000;
        border: 1px solid rgba(0,0,0,.2);
        border-width: 0 0 1px 0;
    }

    &.dark + label {
        span {
            color: #000;
        }
    }

    &:invalid {
        box-shadow: none;
    }

    &:focus {
        border: 1px solid $lattice-main-color;
        border-width: 0 0 1px 0;
        outline: none;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-size: 1.6rem;
        }

        &::-moz-placeholder { /* Firefox 19+ */
            font-size: 1.6rem;
        }

        &:-ms-input-placeholder { /* IE 10+ */
            font-size: 1.6rem;
        }

        &:-moz-placeholder { /* Firefox 18- */
            font-size: 1.6rem;
        }
    }

    &.dark:focus {
        border: 1px solid rgbA(0,0,0,1);
        border-width: 0 0 1px 0;
    }

    &:focus + label,
    &.filled + label {
        transform: translate(0,-3.3rem) scale(.7,.7);
    }
}

textarea.material-input {
    background: transparent;
    border: none;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: .1rem;
    color: #fff;
    -moz-appearance: none;
    resize: vertical;
    min-height: 16rem;

    &:invalid {
        box-shadow: none;
    }

    &:focus {
        outline: none;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        opacity: .25;
        color: #fff;
    }

    &::-moz-placeholder { /* Firefox 19+ */
        opacity: .25;
        color: #fff;
    }

    &:-ms-input-placeholder { /* IE 10+ */
        opacity: .25;
        color: #fff;
    }

    &:-moz-placeholder { /* Firefox 18- */
        opacity: .25;
        color: #fff;
    }
}
