﻿.inverted {
    background: $lattice-second-color !important;

    .line {
        background: $lattice-main-color !important;
    }
}

[class*="mianimation-"] {
    background: $lattice-main-color;
    font-size: 48px;
    width: 1.6em;
    height: 1.6em;
    padding: .35em .3em .25em .3em;
    display: inline-block;

    .line {
        background: $lattice-second-color;
        border-radius: .1em;
        height: .1em;
        margin: .15em 0;
        transform: rotate(0deg);
        opacity: 1;
        width: 1em;
        transition: 0.2s all ease-out;
    }
}

[class*="mianimation-"].reversed.hover {
    &:hover {
        .line {
            &:first-child {
                background: $lattice-second-color;
                border-radius: .1em;
                height: .1em;
                margin: .15em 0;
                transform: rotate(0deg);
                opacity: 1;
                width: 1em;
                transition: 0.2s all ease-out;
            }

            &:not(:last-child) {
                &:not(:first-child) {
                    background: $lattice-second-color;
                    border-radius: .1em;
                    height: .1em;
                    margin: .15em 0;
                    transform: rotate(0deg);
                    opacity: 1;
                    width: 1em;
                    transition: 0.2s all ease-out;
                }
            }

            &:last-child {
                background: $lattice-second-color;
                border-radius: .1em;
                height: .1em;
                margin: .15em 0;
                transform: rotate(0deg);
                opacity: 1;
                width: 1em;
                transition: 0.2s all ease-out;
            }
        }
    }
}

.mianimation-menu-to-x.hover {
    &:hover {
        .line {
            &:first-child {
                height: .15em;
                margin-top: .4em;
                transform: rotate(45deg);
            }

            &:not(:last-child) {
                &:not(:first-child) {
                    opacity: 0;
                }
            }

            &:last-child {
                height: .15em;
                margin-top: -0.55em;
                transform: rotate(-45deg);
            }
        }
    }
}

.mianimation-menu-to-x.reversed.hover {
    &:not(:hover) {
        .line {
            &:first-child {
                height: .15em;
                margin-top: .4em;
                transform: rotate(45deg);
            }

            &:not(:last-child) {
                &:not(:first-child) {
                    opacity: 0;
                }
            }

            &:last-child {
                height: .15em;
                margin-top: -0.55em;
                transform: rotate(-45deg);
            }
        }
    }
}

.mianimation-menu-to-back.hover {
    &:hover {
        .line {
            &:first-child {
                height: .15em;
                margin-top: .27em;
                margin-left: -.05em;
                width: .5em;
                transform: rotate(-45deg);
            }

            &:not(:last-child) {
                &:not(:first-child) {
                    transform: rotate(180deg);
                    margin-top: -0.17em;
                    margin-left: .1em;
                    height: .15em;
                    width: .9em;
                }
            }

            &:last-child {
                height: .15em;
                margin-top: -0.17em;
                margin-left: -0.05em;
                width: .5em;
                transform: rotate(45deg);
            }
        }
    }
}

.mianimation-menu-to-back.reversed.hover {
    &:not(:hover) {
        .line {
            &:first-child {
                height: .15em;
                margin-top: .27em;
                margin-left: -.05em;
                width: .5em;
                transform: rotate(-45deg);
            }

            &:not(:last-child) {
                &:not(:first-child) {
                    transform: rotate(180deg);
                    margin-top: -0.17em;
                    margin-left: .1em;
                    height: .15em;
                    width: .9em;
                }
            }

            &:last-child {
                height: .15em;
                margin-top: -0.17em;
                margin-left: -0.05em;
                width: .5em;
                transform: rotate(45deg);
            }
        }
    }
}

.mianimation-back-to-forward {
    .line {
        &:first-child {
            height: .15em;
            margin-top: .27em;
            margin-left: -.05em;
            width: .5em;
            transform: rotate(-45deg);
        }

        &:not(:last-child) {
            &:not(:first-child) {
                transform: rotate(180deg);
                margin-top: -0.17em;
                margin-left: .1em;
                height: .15em;
                width: .9em;
            }
        }

        &:last-child {
            height: .15em;
            margin-top: -0.17em;
            margin-left: -0.05em;
            width: .5em;
            transform: rotate(45deg);
        }
    }
}

.mianimation-back-to-forward.reversed.hover {
    &:hover {
        .line {
            &:first-child {
                height: .15em;
                margin-top: .27em;
                margin-left: -.05em;
                width: .5em;
                transform: rotate(-45deg);
            }

            &:not(:last-child) {
                &:not(:first-child) {
                    transform: rotate(180deg);
                    margin-top: -0.17em;
                    margin-left: .1em;
                    height: .15em;
                    width: .9em;
                }
            }

            &:last-child {
                height: .15em;
                margin-top: -0.17em;
                margin-left: -0.05em;
                width: .5em;
                transform: rotate(45deg);
            }
        }
    }

    &:not(:hover) {
        .line {
            &:first-child {
                height: .15em;
                margin-top: .27em;
                margin-left: .57em;
                width: .5em;
                transform: rotate(225deg);
            }

            &:not(:last-child) {
                &:not(:first-child) {
                    transform: rotate(0);
                    margin-top: -0.17em;
                    margin-left: .1em;
                    height: .15em;
                    width: .9em;
                }
            }

            &:last-child {
                height: .15em;
                margin-top: -0.17em;
                margin-left: .57em;
                width: .5em;
                transform: rotate(-225deg);
            }
        }
    }
}

.mianimation-back-to-forward.hover {
    &:hover {
        .line {
            &:first-child {
                height: .15em;
                margin-top: .27em;
                margin-left: .57em;
                width: .5em;
                transform: rotate(225deg);
            }

            &:not(:last-child) {
                &:not(:first-child) {
                    transform: rotate(0);
                    margin-top: -0.17em;
                    margin-left: .1em;
                    height: .15em;
                    width: .9em;
                }
            }

            &:last-child {
                height: .15em;
                margin-top: -0.17em;
                margin-left: .57em;
                width: .5em;
                transform: rotate(-225deg);
            }
        }
    }
}

.mianimation-plus-to-minus {
    .line {
        &:first-child {
            height: .15em;
            margin-top: .42em;
            margin-left: .05em;
            width: .9em;
            transform: rotate(90deg);
        }

        &:not(:last-child) {
            &:not(:first-child) {
                display: none;
            }
        }

        &:last-child {
            height: .15em;
            margin-left: .05em;
            width: .9em;
            margin-top: -.29em;
        }
    }
}

.mianimation-plus-to-minus.reversed.hover {
    &:hover {
        .line {
            &:first-child {
                height: .15em;
                margin-top: .42em;
                margin-left: .05em;
                width: .9em;
                transform: rotate(90deg);
            }

            &:not(:last-child) {
                &:not(:first-child) {
                    display: none;
                }
            }

            &:last-child {
                height: .15em;
                margin-left: .05em;
                width: .9em;
                margin-top: -.29em;
            }
        }
    }

    &:not(:hover) {
        .line {
            &:first-child {
                transform: rotate(180deg);
            }

            &:last-child {
                transform: rotate(180deg);
                opacity: 0;
            }
        }
    }
}

.mianimation-plus-to-minus.hover {
    &:hover {
        .line {
            &:first-child {
                transform: rotate(180deg);
            }

            &:last-child {
                transform: rotate(180deg);
                opacity: 0;
            }
        }
    }
}
