.lattice-radio-wrapper {
    font-size: 1.6rem;

    .lattice-radio-label {
        cursor: pointer;
        font-size: 0.7em;
        display: inline-block;
        line-height: 1.4em;
        margin: 0 0.5em;
        vertical-align: top;
    }

    .lattice-radio {
        background: $lattice-second-color;
        border: 0.16em solid $lattice-main-color;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        font-size: 1em;
        height: 1em;
        position: relative;
        border-radius: 50%;
        transition: 0.1s ease-in all;
        width: 1em;

        &:after {
            color: $lattice-second-color;
            content: $lattice-check;
            font-size: 0;
            left: 0;
            line-height: 0;
            position: absolute;
            right: 0;
            top: 0.3em;
            transition: 0.1s ease-in all;
        }
    }

    .lattice-disabled {
        cursor: default;
        opacity: $lattice-disabled-intensity;
    }

    &.checked {
        .lattice-radio {
            background: $lattice-main-color;
            overflow: hidden;

            &:after {
                color: $lattice-second-color;
                content: $lattice-check;
                left: 0.1em;
                line-height: 0;
                font-size: 0.7em;
                font-weight: bold;
                position: absolute;
                right: 0;
                top: 0.48em;
            }
        }
    }
}
