.lattice-toggle-wrapper {
    font-size: 1.6rem;
    min-height: 1.7em;
    -webkit-touch-callout: none;
    user-select: none;

    .lattice-toggle {
        position: relative;
        z-index: 9;

        &:after {
            content: "";
            position: absolute;
            top: 0.08em;
            left: -0.08em;
            transition: all 0.1s ease-in-out 0s;
            z-index: -1;
            background: $lattice-main-color;
            width: 3em;
            height: 1.4em;
            transform: translate(3em, 0);
        }

        span {
            margin-top: 0;
            display: inline-block;
            border: 0.16em solid $lattice-main-color;
            width: 3em;
            text-align: center;
            cursor: pointer;
            transition: all 0.1s ease-in-out 0s;
        }

        &.lattice-disabled {
            opacity: $lattice-disabled-intensity;
            cursor: default;
        }
    }

    &.checked {
        .unchecked {
            background: $lattice-second-color;
            color: rgba(0, 0, 0, 0.7);
        }

        .checked {
            color: $lattice-second-color;
        }

        .lattice-toggle {
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                transition: all 0.1s ease-in-out 0s;
                z-index: -1;
                background: $lattice-main-color;
                width: 3.16em;
                height: 1.4em;
                transform: translate(0, 0);
            }
        }
    }

    .unchecked {
        color: $lattice-second-color;
    }

    &:not(.checked) {
        .lattice-toggle {
            .checked {
                background: $lattice-second-color;
            }
        }
    }
}
