﻿/*************************************
Variables used for lattice
*************************************/

//-- Colors --//
$lattice-main-color: #8b4fa8 !default;
$lattice-second-color: #fff !default;

//-- Symbols --//
$lattice-check: "✓";

//-- Disabled --//
$lattice-disabled-intensity: .3;
